{% extends "registration/password_change_form.html" %}
{% load static %}

{% block branding %}
  <!-- header title -->
  <span class="header-title">Repositorio<strong>Institucional</strong></span>
  <!-- Image header -->
  <img class="header-image" alt="Logo-Biblioteca" src={% static 'images/Logo-Biblioteca.png' %}/>
{% endblock %}

{% block welcome-msg %}{% endblock %}

{% block userlinks %}
  <ul class="custom-user-tools">
    <li id="c-welcome-msg"> Welcome {{ user.get_full_name|default:user.get_username }}</li>
    <li><a href="{% url 'admin:password_change' %}">Change password</a></li>
    <li>
      <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </li>
    <li class="theme-toggle-item">
      <button type="button" class="theme-toggle" aria-label="Toggle theme" title="Toggle theme">
        <svg class="theme-icon-when-auto">
          <use href="#icon-auto" xlink:href="#icon-auto"></use>
        </svg>
        <svg class="theme-icon-when-dark">
          <use href="#icon-moon" xlink:href="#icon-moon"></use>
        </svg>
        <svg class="theme-icon-when-light">
          <use href="#icon-sun" xlink:href="#icon-sun"></use>
        </svg>
      </button>
    </li>
  </ul>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href={% static 'css/admin.css' %}>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}
