{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
{{ block.super }}
<div class="module">
    <h2>Most consulted documents</h2>
    <canvas id="documentStatsChart" width="800" height="200" style="margin-bottom: 50px;""
    data-chart='{{ document_stats_data|safe }}'></canvas>

    <a href=" {% url 'admin:most_consulted_documents_stats_export' %}" class="button"
        style="margin-bottom: 20px;">Export CSV
        statistics</a>
</div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src=" https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/admin_stats.js' %}"></script>
{% endblock %}